/* ===== BODY ===== */
body {
  margin: 0;
  background: #050505;
  color: white;
  font-family: Arial, sans-serif;
  padding-bottom: 120px;
  overflow-x: hidden;
}

/* ===== TOP BAR ===== */
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 24px;
}

.top-bar h1 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  color: white;
}

/* ===== SEARCH ===== */
#search {
  width: 480px;

  padding: 12px 18px;

  background: transparent;
  color: white;

  border: 1px solid #1db954;
  border-radius: 30px;

  outline: none;

  font-size: 18px;
}

#search::placeholder {
  color: #777;
}

#search:focus {
  box-shadow: 0 0 10px rgba(29, 185, 84, 0.4);
}

/* ===== SONG LIST ===== */
.song {
  padding: 16px 24px;
  border-bottom: 1px solid #222;
  cursor: pointer;
  transition: 0.15s;
}

.song:hover {
  background: #1db954;
  color: black;
}

/* ===== PLAYER ===== */
.player {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 110px;

  background: #111;

  border-top: 2px solid #1db954;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== TRACK INFO ===== */
.track-info {
  position: absolute;

  left: 26px;
  bottom: 16px;

  width: 240px;
  height: 60px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ===== SONG TITLE ===== */
#songTitle {
  font-size: 30px;
  font-weight: bold;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: white;
}

/* ===== ARTIST ===== */
#songArtist {
  font-size: 22px;
  color: #9b9b9b;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ===== CONTROLS ===== */
.controls {
  display: flex;
  align-items: center;
  gap: 28px;
}

/* ===== SKIP BUTTONS ===== */
.controls button {
  background: none;
  border: none;

  color: white;
  font-size: 30px;

  cursor: pointer;
}

/* ===== PLAY BUTTON ===== */
#playPauseBtn {
  width: 70px;
  height: 70px;

  cursor: pointer;
}

/* ===== TIME + BAR ===== */
.time {
  position: absolute;

  left: 50%;
  bottom: 12px;

  transform: translateX(-50%);

  display: flex;
  align-items: center;
  gap: 12px;
}

/* ===== TIMES ===== */
#current,
#duration {
  color: #9b9b9b;
  font-size: 18px;
}

/* ===== PROGRESS ===== */
#progress {
  width: 420px;
  height: 6px;

  appearance: none;

  background: #555;
  border-radius: 999px;

  cursor: pointer;
}

/* ===== THUMB ===== */
#progress::-webkit-slider-thumb {
  appearance: none;

  width: 16px;
  height: 16px;

  border-radius: 50%;
  background: #1db954;

  border: none;
}

#progress::-moz-range-thumb {
  width: 16px;
  height: 16px;

  border-radius: 50%;
  background: #1db954;

  border: none;
}

/* ===== NO RESULTS ===== */
#noResultsMsg {
  text-align: center;
  margin-top: 40px;

  width: 100%;

  color: #1db954;
  font-size: 24px;
}
